@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('../../public/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.ttf') format('truetype'); /* Update the file name and format for the regular version */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../public/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.ttf') format('truetype'); /* Update the file name and format for the bold version */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../public/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Light.ttf') format('truetype'); /* Update the file name and format for the bold version */
  font-weight: light;
  font-style: normal;
}


/* Add additional font-face declarations for other font styles (italic, bold italic, etc.) if needed */

.satoshi-bold {
  font-family: 'Satoshi', sans-serif;
  font-weight: bold; 
}

.satoshi-light {
  font-family: 'Satoshi', sans-serif;
  font-weight: light; 
}

.satoshi-regular {
  font-family: 'Satoshi', sans-serif;
  font-weight: normal; 
}

body {
  font-family: 'Satoshi', sans-serif;
}

